.reset-button {

  margin-top:25px;

  width:100%;

  padding:15px;

  border:0;

  border-radius:18px;

  background:#111;

  color:white;

  font-weight:600;

  display:flex;

  align-items:center;

  justify-content:center;

  gap:8px;

  cursor:pointer;

}


h3 {

  display:flex;

  align-items:center;

  gap:8px;

  margin-top:28px;

}
